body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	padding: 10px;
}

#htmlText, #elementHighlight {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

#elementHighlight{
	margin: 10px 0;
	padding: 5px;  
	height: 30px;
	font-size: 16px;
	width: 988px;
	display: block;
}

.hv-btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.hv-btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.hv-btn-large {
padding: 11px 19px;
font-size: 17.5px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}


.hv-container{
	width: 1000px;
	position: relative;
	left: 50%;
	margin-left: -500px;
}

#htmlText{
	width: 989px;
}


.hv-label {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999999;
}


.hv-highlighter{
	border: 1px solid #bdbdbd !important;
	margin: 20px 10px !important;
	padding: 10px !important;
	position: relative !important;
	display: block !important;
	float: none !important;
	width: initial !important;
	top: 0 !important;
	left: 0 !important;
}

.hv-highlighter.hv-active{
	background: #e8f7fe !important;
	border: 1px solid #47bdfe !important; 
}

.hv-highlighter.hv-inactive{
	background: #fff;
}

.hv-highlighter.hv-highlighted{
	background: #dff0d8 !important;
	border: 1px solid #468847 !important; 
	color: #468847;
}



.hv-highlighter.INPUT{
	background: #f5f5f5;
	box-shadow: inset 0 1px 5px #5f5f5f;
	width: initial !important;
	height: 25px;
	color: #bdbdbd;
	text-align: center;
	padding-top: 15px;
}

.hv-highlighter.INPUT.hidden{
	border: 1px dashed #bdbdbd !important;
	box-shadow: none;
}

.hv-highlighter.INPUT.button{
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	box-shadow: none;
}

.hv-highlighter.image{
	background: #f5f5f5;
	text-align: center;
	color: #bdbdbd;
}

.hv-highlighter.image.hv-active{
	background: #e8f7fe !important;
}

#output .hv-elementHeader-wrapper{
	position: absolute;
	top: -10px;
	left: 10px;
}

#output .hv-label{
	margin-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

#output .hv-active>.hv-elementHeader-wrapper>.hv-label{
	background: #3a87ad;
}

#output .hv-active>.hv-elementHeader-wrapper>.hv-label.id{
	background: #468847;
}

#output .hv-elementHeader-wrapper>.hv-label.element-type{
	background: #fff;
	color: #333;
	text-transform: lowercase;
}

#output .hv-active>.hv-elementHeader-wrapper>.hv-label.element-type{
	background: #333;
	color: #fff;
	text-transform: lowercase;
}

